.site-header {
    background-color: #333; 
    color: white;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    font-size: 1.5em; 
    color: white;
    text-decoration: none;
    height: 90%;
    width: auto;
    object-fit: contain;
    max-height: 200px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1em; 
    padding: 8px 16px;
    border-radius: 4px;
}

.main-nav a:hover {
    background-color: #555; 
}

.languageswitcher{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.languageswitcher a{
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: 13px;
}

.aircraft-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 95%;
    max-width: 1600px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.aircraft-info-show {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    gap: 20px; 
    max-width: 1560px;
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.aircraft-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-size: cover;
    background-position: center;
    height: 100%; 
    width: 95%;
    color: white; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
    position: relative;
}

.aircraft-text {
    flex: 1;
}

.aircraft-image {
    flex: 1; 
}

.aircraft-info h2 {
    position: absolute;
    top:10px;
    left:10px;
}

.aircraft-info p {
    position: absolute;
    bottom:5px;
    right:5px;
}
.read-more{
    position: absolute;
    bottom: 5px;
    left: 10px; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none; 
    color: black; 
}

.aircraft-text h1{
    font-size: 20px;
    color: black;
}

.bodydescription{
    font-size: 12px;
    color: grey;
}

.bodytext{
color: black;
font-size: 15px;
}

.acknowledgement{
    font-size: 12px;
    color:grey;
}

.aircraft-info-show img{
    max-width:500px;
    max-height: 500px;
    border-radius: 5%;
    margin: auto;
}

.aircraft-comments {
    width: 85%; 
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}

.aircraft-comments .logintext{
    color: cornflowerblue;
}

.editcontainer{
    margin: auto;
    width: 95%;
    max-width: 1800px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}

button:hover {
    background-color: #0056b3;
}

.smallbutton{
    font-size: 10px;
    background-color: #569fee;
}

.dangerbutton{
    background-color: darkred;
}

form {
    display: inline;
}

textarea {
    width: 100%;
    margin-top: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.aircraft-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.aircraft-section > div:only-child {
    grid-column: 1 / -1; 
}

.aircraft-box {
    max-height: 280px;
    gap: 20px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.aircraft-box h2, .aircraft-box p{
    color:white !important;
}

.sidebar {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.search-container {
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.search-button{
    margin-bottom: 10px;
}

.events-container h3 {
    margin-top: 0;
}

.events-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.events-list li {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.event-card {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.event-image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.event-info {
    padding: 20px;
}

.event-info h2 {
    margin-top: 0;
    color: #333;
}

.event-info a {
    text-decoration: none;
    color: inherit;
}
.event-info .eventlink{
    color:cornflowerblue;
}

.submitbutton{
    margin-bottom: 100px;
}
